<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ site.title }} - {{ page.subtitle }}</title>
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="assets/img/favicon.ico" type="image/x-icon">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
      </style>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">

    
  </head>
  <body>

    <div class="background">
      <div class="bgcarousel">
        {% for image in page.image %}
        <div>
          <div class="bgimg" style='background-image: url({{ page.image[forloop.index0] }})'></div>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="content">
      <div class="logo"><img src="{{ page.logo }}" alt="Logo"></div>
      <h1>{{ page.title }}</h1>
      <p>{{ page.subtitle }}</p>
      <a href="{{ page.menu-image }}" data-fancybox class="js-menu">{{ page.menu }}</a>
    </div>

    <div class="social">
      {% for social in page.social %}
        <a target="_blank" href="{{ page.social-link[forloop.index0] }}"><img src="{{ page.social[forloop.index0] }}" alt=""></a>
      {% endfor %}
    </div>

    <script src="{{ "/assets/js/jquery.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/slick.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/jquery.fancybox.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/main.js" | relative_url }}"></script>
  </body>
</html>
